doctype html
html.no-js(lang='RU-ru')
  head
    include template/head
  body
    .center
      include template/header
      include template/main
      include template/footer

    include template/script