@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin triangle() {
  &:after{
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid #fff;
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
    position: absolute;
    bottom: -40/330*100%;
    left:160/330*100%;
  }
}

@mixin vertical() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}