//---------- Header ----------
.header-top{
  @include clearfix();
  padding: 15/1000*100% 25/1000*100%;
  &__left{
    float: left;
    width: 225/1000*100%;
  }
  &__right{
    float: right;
    width: 775/1000*100%;
    text-align: right;
  }
}

.header-logo{
  &__title{
    display: none;
  }
  a{
    display: block;
  }
  img{
    width: 100%;
    height: auto;
    vertical-align: middle;
  }
}

.header-nav{
   padding: 22/775*100% 0 0 0;
  &__list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 0;
  }
  &__item{
    display: inline-block;
    vertical-align: middle;
  }
  &__link{
    display: block;
    font-family: 'bitterregular', serif;
    text-decoration: none;
    color: rgba(83, 22, 4, 1);
    font-size: 0.9375rem;
    line-height: 2.27;
    padding: 0 10px;
    border-radius: 10em;
    &:hover{
      color: rgba(83, 22, 4, 0.6);
      }
    &--active{
      background: rgb(83, 22, 4);
      color: rgba(216, 193, 151, 1);
      &:hover{
        color: rgba(216, 193, 151, 1);
      }
    }
  }
}


.header-slider{
  margin-bottom: -20/1000*100%;
  position: relative;
  &__description{
  margin-bottom: -20/1000*100%;
  background: url("../images/header-image.png") no-repeat;
  width: 100%;
  height: auto;
  background-size: cover;
  box-sizing: border-box;
  }
}

.feature{
  padding: 58/1000*100% 25/1000*100%;
  &__title{
    margin: 0;
  }
  &__description{
    font-family: 'open_sansregular', sans-serif;
    font-size: 1.0625rem;
    line-height: 1.2;
    color: rgb(216, 193, 151);
    margin-bottom: 30/950*100%;
  }
  &__button{
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 35/950*100%;
    padding: 10/950*100% 35/950*100%;
    background: rgb(184, 143, 63);
    border-radius: 10em;
    text-transform: uppercase;
    &:hover{
    background: rgba(184, 143, 63, 0.7);
  }
    span{
      padding-left: 10px;
      font-family: 'open_sanslight', sans-serif;
    }
  }
}


//---------- Title Slider ----------
.slide-title{
  line-height: 1;
  &__paragraph-one{
    margin: 0;
    font-family: 'bitterregular', serif;
    color: rgb(184, 143, 63);
    text-transform: uppercase;
    font-size: 2.5rem;
  }
  &__span-one{
    font-family: 'bitterbold', serif;
    color: rgb(255, 255, 255);
    padding-left: 10/950*100%;
  }
  &__paragraph-two{
    margin: 0;
    font-family: 'bitterbold', serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 2.5rem;
  }
  &__span-two{
    font-family: 'bitterregular', serif;
    color: rgb(184, 143, 63);
    padding-left: 10/950*100%;
  }
}


.slide2, .slide3, .slide4, .slide5{
  display: none;
}

.feature-switch{
  background: url("../images/slider-pattern.png") repeat-x;
  background-size: cover;
  text-align: center;
  box-sizing: border-box;
  &__list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0;
    padding: 35/1000*100% 0;
  }
  &__item{
    display: inline-block;
    vertical-align: middle;
    margin-right: 15/1000*100%;
    width: 121/1000*100%;
    &:first-child{
      width: 55/1000*100%;
      margin-right: 40/1000*100%;
    }
    &:last-child{
      width: 55/1000*100%;
      margin-left: 25/1000*100%;
      margin-right: 0;
    }
  }
  &__link{
    display: block;
  }
  &__first, &__second, &__third, &__fourth, &__fifth{
    position: relative;
    &:hover:after{
      content: "";
      background: rgba(245, 245, 245, 0.7);
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 12%/28%;
    }
    &:hover:before{
      content: "";
      display: block;
      @include sprite($cross);
      position: absolute;
      z-index: 10;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
  &__left{
    position: relative;
    &:after{
      content: "";
      @include sprite($left-arr);
      position: absolute;
      left: 20px;
      top: 16px;
    }
  }
  &__right{
    position: relative;
    &:after{
      content: "";
      @include sprite($right-arr);
      position: absolute;
      left: 22px;
      top: 16px;
    }
  }
  &__left, &__right{
    width: 55px;
    height: 55px;
    display: block;
    background: rgba(184, 143, 63, 1);
    border-radius: 50%;
    img{
      display: none;
    }
    &:hover{
      background: rgba(206, 165, 85, 1);
    }
  }
  img{
    max-width: 100%;
    height: auto;
  }
}